:root {
    --DS-flex: flex;
    --DS-block: block;
    --JC-center: center;
    --AlignItems-Baseline: baseline;
    --JC-spaceBtw: space-between;
    --Box-shadowQuote: 5px 2px 5px 5px #c8c864da;
    --Box-shadowTitle: 2px 5px 2px 5px #c8c864da;
    --Primary-Color: #c8c864da;
    --Secondary-Color: green;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;300;400;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Ubuntu:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    min-height: 100vh;
    color: var(--Secondary-Color);
    display: flex;
    background-color: var(--Secondary-Color);
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 600; */
}


.homepage {
    position: relative;
    min-height: 100vh;
    background: url('../images/wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

.quote {
    display: inline-block;
    text-align: center;
    margin: 17em 1em;
    margin-bottom: 2rem;
    line-height: 1.7;
    opacity: 1;
    color: rgb(3, 140, 3);
    box-shadow: var(--Box-shadowQuote);
    font-style: italic;
    background-color: #ccf0cc4a;
} 

.app-title {
    display: inline-block;
    position: fixed;
    text-decoration: none;
    margin-inline: 3em;
    margin-left: 50px;
    font-size: 1.7rem;
    box-shadow: var(--Box-shadowTitle);
}

.app-title a {
    color: green;
}

.btn a {
    display: inline-block;
    margin: 3rem 1rem;
    background: khaki;
    padding: 10px 10px;
    border-radius: 10px 10px;
    color: #008000;
    opacity: 0.7;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    position: fixed;
    width: 50%;
    display: block;
    left: 30%;
    top: 80%;
}

header a,
li {
    margin: 1px;
    padding: 2px;
    text-decoration: none;
    color: inherit;
}


header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
    /* box-shadow: none; */
    display: var(--DS-flex);
    justify-content: var(--JC-spaceBtw);
    align-items: var(--AlignItems-Baseline);
    margin-bottom: 2rem;

}

.menu-link {
    letter-spacing: 4px;
    font-size: 110%;
    font-weight: 250;
}

.menu-link li {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1em;
    justify-content: var(--JC-center);
    text-transform: capitalize;
}

nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 10;
    padding-inline: 0.5rem;
    box-shadow: 3px 4px 50px var(--Secondary-Color);
    display: none;
    top: 100%;
}

.logo {
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 1.2rem;
}

#nav-toggle:checked~nav {
    display: block;
}


#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    font-weight: 100;
    padding-right: 0.5rem;
}

.active {
    border-bottom: 1px solid indigo;
    transition: 0.5s ease-in-out ;
}

.main {
    margin-top: 60px;
    flex: 1 0 auto;
}

.budget-header {
    min-height: 60vh;
    max-width: 100%;
    display: var(--DS-block);
    position: relative;
    background-color: var(--Secondary-CL);
    /* background-color: #fff; */
    /* margin-top: 1rem; */
    color: #fff;
    scroll-behavior: unset;

}

.budget-dashboard {
    min-height: 60vh;
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    /* z-index: ; */
}





@media screen and (min-width: 540px) {
    /* body {
        display: block;
    } */

    .budget-container {
        display: inline;
        position: absolute;
        width: 80%;
        height: 100%;
        margin-block: 1em;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    header {
        /* display: flex; */
        position: fixed;
        margin-bottom: 3rem;
        z-index: 99;
    }

    nav {
        display: inline-block;
        box-shadow: none;
        width: fit-content;
        position: relative;
    }

    .nav-toggle-label {
        display: none;
    }


    .menu-link {
        display: block;
        justify-content: space-around;
        margin: 30px 10px auto;
        margin-left: auto;

    }


    .quote {
        display: flex;
    }

    .homepage {
        display: block;
        position: absolute;
        max-width: fit-content;
        padding: 12px;
        height: 800px;
        top: 50%;
        /* bottom: 10; */
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .btn {
        position: fixed;
        top: 82%;
        /* right: 30%; */
        /* margin-inline: 5em; */
    }

    .btn:hover {
        color: wheat;
        opacity: 0.9;
    }

    .app-title {
        position: fixed;
        display: flex;
        justify-self: center;
    }

    .budget-header {
        margin: 50px;
        border-radius: 10px;
        margin-top: 4em;
        /* z-index: -99; */
    }



}