@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;300;400;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Ubuntu:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* html {} */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7;
    /* width: 100%;
    height: 100%; */
}

.homepage {
    position: relative;
    height: 100vh;
    background: url('../images/wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}



.quote {
    display: inline-block;
    text-align: center;
    margin: 17em 1em;
    margin-bottom: 2rem;
    line-height: 1.7;
    opacity: 1;
    color: rgb(3, 140, 3);
    /* color: rgba(219, 115, 115, 0.754); */
    box-shadow: 5px 2px 5px 5px rgba(200, 200, 100, 0.853);
    font-style: italic;

    background-color: #ccf0cc4a;
    /* background-blend-mode:color; */


}

.app-title {
    display: inline-block;
    position: fixed;
    text-decoration: none;
    margin-inline: 3em;
    margin-left: 50px;
    font-size: 1.7rem;
    box-shadow: 2px 5px 2px 5px rgba(200, 200, 100, 0.853);

    /* background-color: white; */
    /* transform: rotate(-7deg); */
}

.app-title a {
    color: green;
}

.btn a {
    display: inline-block;
    margin: 3rem 1rem;
    background: khaki;
    padding: 10px 10px;
    border-radius: 10px 10px;
    color: #008000;
    opacity: 0.7;
    text-align: center;
    text-transform: uppercase;


}

.btn {
    position: fixed;
    width: 50%;
    display: block;
    left: 30%;
    top: 80%;
}

.footer {
    /* display: inline-block; */
    position: fixed;
    color: #008000;
    margin-top: 30em;

}

@media screen and (min-width: 500px) {

    body {
        display: block;

    }

    .quote {
        display: flex;
    }

    .homepage {
        display: block;
        position: absolute;
        max-width: 350px;
        height: 800px;
        top: 50%;
        /* bottom: 10; */
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #34006a;
    }

    .btn {
        position: fixed;
        top: 82%;
        /* right: 30%; */
        /* margin-inline: 5em; */
    }
    .btn:hover {
        color:wheat;
        opacity: 0.9;
        cursor:grabbing;
        background-color: #008000;
    }

    .app-title {
        position: fixed;
    }



}